<%- include('partials/header', { pageTitle } ) %>

  <h1>Product List</h1>
  <ul>
    <% products.forEach((product) => { %>
      <li><%= product.name %> - <%= product.price %> - <%= product.description %></li>
    <% }) %>
  </ul>

<%- include('partials/footer')%>